/* src/stalin.css */
/* main.css */
h2[data-v-f8994186] {
  color: lightcoral;
}
h2[data-v-23f65b90] {
  color: lightcoral;
}
.generate-commit-msg[data-v-23f65b90] {
  width: 30%;
  margin-left: 10px;
  min-width: 100px;
}
.commit-message[data-v-23f65b90] {
  width: 63%;
  height: 25px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: #f0f0f0;
}
.compile-btn[data-v-23f65b90] {
  background-color: lightcoral;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}
.compile-btn[data-v-23f65b90]:disabled {
  border: none;
  cursor: not-allowed;
}
.popup-container[data-v-23f65b90] {
  padding: 5px 0;
}

/* src/main.css */
